.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
}

.radio {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;

    &.checked {
        background-color: var(--primary-color);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            transform: translate(-3px, 2px) rotate(45deg);
            height: 12px;
            width: 6px;
            border-bottom: 3px solid var(--bg-color);
            border-right: 3px solid var(--bg-color);
        }
    }
}
