.list {
    padding: var(--padding) 0;

    & > *:not(:first-child) {
        margin-top: var(--padding);
    }
}

.grid,
.slider {
    padding: var(--padding) 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: var(--padding);
    grid-auto-rows: minmax(200px, 300px);
}

.slider {
    display: flex;
    gap: var(--padding);
    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: var(--font-interval);
        
        &-track {
            background-color: transparent;
        }
        
        &-thumb {
            background-color: var(--secondary-color);
            border-radius: 100px;
        }
    }
}
