:root {
    --font-family-main: consolas, sans-serif;
    --font-size-m: 16px;
    --line-height-m: 24px;
    --font-size-l: 24px;
    --line-height-l: 32px;
    --font-size: var(--font-size-m);
    --line-height: var(--line-height-m);
    --font-interval: calc(var(--font-size) * 0.5);
    --font-interval-expand: calc(var(--font-size) * 0.875);
    --font: var(--font-size) / var(--line-height) var(--font-family-main);
    --padding: 20px;
    --modal-z-index: 999;
    --overlay-color: rgba(0 0 0 / 50%);
}
