.options {
    border-radius: 2px;
    color: var(--primary-color);
}

.option {
    background-color: var(--bg-color);

    &.active {
        background-color: var(--bg-color-light);
    }

    &[data-focus] {
        background-color: var(--secondary-color);
    }
}
