.card {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 400px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
}

.editBtn {
    align-self: flex-end;
    margin-top: 14px;
}
