.navItem {
    display: flex;
    align-items: center;
    gap: 4px;

    &Name {
        transition: all 0.2s ease-out;
    }

    .collapsed & {
        gap: 0;

        &Name {
            width: 0;
            opacity: 0;
        }
    }
}
