.title {
    margin-top: calc(var(--font-size) * 2);
    margin-bottom: var(--font-size);
    font-size: calc(var(--font-size) * 1.25);
}

.items {
    margin-top: var(--font-size);
}

.item {
    margin-top: var(--font-interval);
}
