.dark {
    --bg-color: #385170;
    --primary-color: #ececec;
    --secondary-color: #9fd3c7;
    --primary-color-dark: #a5a5a5;
    --success-color: #49aa19;
    --warning-color: #d89614;
    --error-color: #cf4041;
}
