.halloween {
    --bg-color: #454545;
    --primary-color: #ffe6c7;
    --secondary-color: #ff6000;
    --primary-color-dark: #ffa559;
    --success-color: #1fb30d;
    --warning-color: #f1a101;
    --error-color: #ec153a;
}
