.light {
    --bg-color: #ececec;
    --primary-color: #142d4c;
    --secondary-color: #3a85e1;
    --primary-color-dark: #08111d;
    --success-color: #52c41a;
    --warning-color: #faad14;
    --error-color: #ff4d4f;
}
