.magic {
    --bg-color: #624f82;
    --bg-color-light: #7b63a3;
    --primary-color: #83c0c1;
    --secondary-color: #96e5e9;
    --primary-color-dark: #37b5b6;
    --success-color: #40ff95;
    --warning-color: #faad14;
    --error-color: #ce0023;
}
