.nature {
    --bg-color: #a28b55;
    --primary-color: #cbe2b5;
    --secondary-color: #e7fbe6;
    --primary-color-dark: #86ab89;
    --success-color: #37af06;
    --warning-color: #ff9800;
    --error-color: #f92121;
}
