.button {
    cursor: pointer;
    color: var(--primary-color);

    &[disabled],
    &:disabled {
        opacity: 0.5;
    }

    &:hover {
        filter: brightness(0.95);
    }
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.outlined {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
}
