.navbar {
    padding: var(--padding);
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.append {
    margin-left: auto;
}

.prepend {
    margin-right: auto;
}
