.modal {
    position: fixed;
    pointer-events: none;
    font: var(--font);
    color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.overlay {
    position: absolute;
    background-color: var(--overlay-color);
}

.modal,
.overlay,
.content {
    z-index: var(--modal-z-index);
}

.modal,
.overlay {
    inset: 0;
}

.overlay,
.content {
    pointer-events: auto;
}

.content {
    --transform-translate: translate(-50%, -50%);

    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 12px;
    padding: 14px;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: var(--transform-translate) scale(0.5);
    transition: transform 0.3s ease;
}

.open {
    &.modal {
        opacity: 1;
        pointer-events: all;
    }

    .content {
        transform: var(--transform-translate) scale(1);
    }
}
