.modal {
    position: fixed;
    inset: 0;
    z-index: var(--modal-z-index);
    font: var(--font);
    color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    &.opened {
        opacity: 1;
        pointer-events: all;
    }
}

.overlay {
    height: 100%;
    background-color: var(--overlay-color);
}

.content {
    --transform-translate: translate(-50%, -50%);

    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 12px;
    padding: 14px;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: var(--transform-translate) scale(0.5);
    transition: transform 0.3s ease;

    .opened & {
        transform: var(--transform-translate) scale(1);
    }
}
