.sidebar {
    padding: var(--padding);
    transition: padding 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.open {
    padding-right: 200px;
}
