.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: var(--font-interval);
}

.modal {
    min-width: 300px;
}

.btnClose {
    background-color: var(--error-color);
}

.btnSubmit {
    background-color: var(--success-color);
}
